<div class="novedadesContainer">
    {{recent_activity}}
</div>

<script>
    window.onload = () => {
        const titulo = document.getElementsByClassName('recent-activity-header')[0];
        titulo.innerHTML = 'Novedades';
        titulo.style.visibility = 'visible';
    }
</script>