/***** Hero component *****/
.hero {
    width: 100%;
    height: 60vh;
    padding: 0 20px;
    margin-top: -$header-height;

    background-image: url($assets-hero-background-png);
    background-size: cover;
    background-position: center -230px;
    background-attachment: fixed;

    &::before {
        position: absolute;
    }

    &-inner {
        @include vertical-align;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 610px;
        margin: 0 auto;
        color: $text-white;

        h2 {
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 10px;
            line-height: 55px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
            padding: 0;
            margin-bottom: 10px;
            line-height: 23px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}