/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-top: 25px;
  margin-bottom: 40px;

  .link-novedades {
    text-align: center;

    a {
      color: $brand-color;
    }
  }
}


/***** Home Articles *****/
.articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  padding: 0 5%;
}

.article-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;

  h2 {
    color: $main-orange;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 5px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;

    li {
      margin: 5px;

      a {
        text-decoration-line: underline;
        color: $brand-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

/***** Community section in homepage *****/
/*
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    margin-top: 32px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  @include standalone-link;
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
*/
